<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BreweryMate</title>
  <meta name="description" content="">
	
  <link rel="stylesheet" href="/normalize.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/global.css" type="text/css" media="screen" charset="utf-8">
  
  <script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/validation.js"></script>
  
	
</head>

	<header>
		<div id="links">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Add a Beer Review</a></li>
				<li><a href="#">Add a Brewery</a></li>
			</ul>
		</div>
		<div class="logo">
			<h1>!BreweryMate Logo!<h1>
		</div>
	</header>


<div id ="main_outer">
	<div id ="main_inner">
			<div id="container">
				<body>
					<%= yield %>
				</body>
			</div>	
	</div>
			
</div>
</html>