html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


#main_outer{
  background: url("./images/darkwater.jpg");
	background-size: 110%;


	margin: 0 0 0 0;

}

#main_inner{

  background: url("./images/water.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 25px 0 375px 0;
	margin: 0 75px 0 75px;
}


header{
  background: url("./images/blue.jpg");
	background-size: 100%;
	background-repeat: no-repeat;	
	padding: 10px 10px 10px 0;
  
}

header li{
	padding: 30px 0 0 0;
  display: inline-block;
	font-family: 'Georgia'
	
	
	
}

#container{
  
  width: 1100px;
  margin: 0 auto 0 auto; 
	padding: 0 0 0 0;
	text-align: center;
}

#links{
  float: right;
}

.logo{
	text-align: left;
	padding: 0 0 0 0;
}


h1{
	font-family: 'Gentona-Book';
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #040441;
	letter-spacing: 2px;
	font-size: 48px;
	text-align: center;
}

p{
	font-family: 'Gentona-Book';
	font-weight: normal;
	font-style: normal;
	
	color: #111261;
	letter-spacing: 2px;
	font-size: 16px;
	
}

body{
	margin: 0 0 0 0;
}

.error{
  color: red;
}