<h1><%= @brewery.name%> Detail's</h1>

	<p><a href = "/breweries/<%= @brewery.id%>/beers"> View this brewery's beer reviews!</a></p>
	<p><a href = "/breweries/<%= @brewery.id%>/edit"> Edit this brewery!</a></p>