<h1>New Beer (plus brewery)</h1>

<form action="/beers/create_plus_brewery" method="post">  
	<p>Beer Name: <input type="text" name="name"></p>
	<p>Style: <input type="text" name="style"></p>
	<p>Rating (0-10): <input type="text" name="rating"></p>
	<p>Comments: <input type="text" name="comments"></p>
	<p>Brewery Name: <input type="text" name="brewery_name"></p>
    
  <input type="submit">
</form>